@import "variables";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/icon-button/mdc-icon-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";

body {
  font-family: "Roboto", sans-serif;
  color: #6b6969;
}

.container {
  padding-top: 70px;
}

.username,
.password {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.mdc-top-app-bar {
  @include mdc-top-app-bar-ink-color(white);
}

.text-center{
  text-align: center;
}

.social a{
  text-decoration: none;
}

.social a:hover{
  text-decoration: underline;
}